* {
  font-family: 'Averia Serif Libre', cursive;
  color: #a27502;
}
.wholePageContainer {
  display: flex;
  position: absolute;
  background-color: #272d32;
  width: 100vw;
  height: auto;
}
.welcomeMessage {
  color: #a27502;
  margin: auto;
  margin-top: 4vh;
  font-family: 'Averia Serif Libre', cursive;
}
.splashContainer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.envelopeClosed {
  margin: auto;
  margin-bottom: 0px;
}
.closed {
  /*position: absolute;*/
  width: 30vw;
  height: 20vw;
}
.open {
  position: absolute;
  left: 35%;
  bottom: 20%;
}
h4 {
  text-align: center;
  margin: auto;
}
.answers {
  text-align: center;
}
.answers:hover {
  cursor: pointer;
}
.theQuiz {
  margin: auto;
}
.ng-scope {
  margin: auto;
}
