/*
#F8F8F8
#FAEBCD
#F7C873
#434343
*/


* {
  font-family: 'Averia Serif Libre', cursive;
  color: #a27502;
}
.wholePageContainer {
  background-color: #F8F8F8;
  height: 100vh;
  width: 100vw;
  display: flex;
}

@keyframes wingardiumLeviosa {
  0%, 100% { top: 50% }
  50% { top: 49% }
}
@keyframes engorgio {
  0% { width:  55vw; opacity: 0 }
  100% { width: 58vw; opacity: 1; margin-left: -29vw;}
}
@keyframes fadeIn {
  from { opacity:0 }
  to { opacity:1 }
}
@keyframes fadeOut {
  from { opacity:1 }
  to { opacity:0 }
}

.envelopes {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.welcomeMessage, .welcomeMessage:hover {
  cursor: pointer;
  animation: fadeIn ease-in 1;
  text-align: center;
  z-index: 1;
  color: #a27502;
  margin: auto;
  margin-bottom: 10vh;
  font-family: 'Averia Serif Libre', cursive;
}
.splashContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.closed {
  position: absolute;
  width: 50vw;
  height: auto;
  left: 50%;
  margin-left: -25vw;
  top: 50%;
  margin-top: -25vw;
}
.open {
  position: absolute;
  width: 55vw;
  height: auto;
  left: 50%;
  margin-left: -27.5vw;
  top: 50%;
  margin-top: -27.5vw;
}
.fadeIn {
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2s;
}
.open {
  cursor: pointer;
  animation: engorgio ease-in 1;
  /*animation: fadeIn ease-in 1;*/
  animation-fill-mode:forwards;
  animation-duration:.8s;
}
.closed:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
  animation: wingardiumLeviosa 1.7s infinite;
}
h3 {
  text-align: center;
  margin: auto;
  margin-top: 25vh;
}
p:hover {
  color: #835e00
}
.answers {
  text-align: center;
  margin: 3vh;
}
.line {
  color: #a27502;
}
.lolz {
  background-color: red;
}
.answers:hover {
  cursor: pointer;
}
/*.theQuiz {
  margin: auto;
  padding: 15%;
  padding-left: 10%:
  padding-right: 10%:
}*/
.ng-scope {
  margin: auto;
}
.surveyPage {
  /*background-color: white;*/
  border: 2px solid #434343;
  width: 90vw;
  height: 70vh;
  overflow: hidden;
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}
