/*
#F8F8F8
#FAEBCD
#F7C873
#434343
*/


* {
  font-family: 'Averia Serif Libre', cursive;
  font-weight: 200;
  color: #a27502;
}
span {
  margin: auto;
  font-size: 4em;
}
.wholePageContainer {
  /*background-image: #F8F8F8;*/
  background-image: linear-gradient(
    #F8F8F8,
    #e0d7cc
  );
  height: 100vh;
  width: 100vw;
  display: flex;
}
.surveyPage {
  display: flex;
  flex-direction: column;
  border: 1px solid #735c34;
  width: 90vw;
  height: 70vh;
  overflow: hidden;
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}
.fbButton {
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 10s;
  margin: auto;
  z-index: 3;
  margin-bottom: 5vh;
}
@keyframes wingardiumLeviosa {
  0%, 100% { top: 50% }
  50% { top: 49% }
}
@keyframes engorgio {
  0% { width:  55vw; opacity: 0 }
  100% { width: 58vw; opacity: 1; margin-left: -29vw;}
}
@keyframes fadeIn {
  from { opacity:0 }
  to { opacity:1 }
}
@keyframes fadeOut {
  from { opacity:1 }
  to { opacity:0 }
}
.envelopes {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.getStarted:hover {
  cursor: pointer;
}
.decision {
  margin: auto;
  margin-top: 25vh;
}
.decision:hover {
  cursor: pointer;
}
.answers.last-of-type {
  background-color: red;
}
.paper {
  margin: auto;
  margin-left: 10vw;
  width: 20vw;
  height:auto;
}
.houseCrest {
  margin: auto;
  width: auto;
  height: 150px;
}
.hatImg {
  opacity: .15;
  z-index: -1;
  width: 30vw;
  position: absolute;
  height: auto;
  left: 50%;
  margin-left: -17vw;
  top: 50%;
  margin-top: -15vw;
}
.letterText {
  text-align: left;
  font-size: 1em;
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:5s;
}
.welcomeMessage {
  opacity: 0;
  text-align: center;
  z-index: 1;
  margin: auto;
  margin-top: 7vh;
  letter-spacing: 7px;
  margin-bottom: 10vh;
  font-family: 'Averia Serif Libre', cursive;
}
.closed:hover + .welcomeMessage {
  animation: fadeIn ease-in 1;
  animation-duration: 3s;
  animation-fill-mode: both;
  color: #49443b;
}
fbButton {
  border: 1px solid #735c34;
}
.welcomeLetterDiv {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
  height: 100%;
}
.mainHeader {
  color: #49443b;
}
.open {
  animation: fadeIn ease-in 1;
  position: absolute;
  width: 33vw;
  height: auto;
  left: 50%;
  margin-left: -16.5vw;
  top: 50%;
  margin-top: -16.5vw;
  cursor: pointer;
  /*animation: engorgio ease-in 1;*/
  animation-fill-mode:forwards;
  animation-duration:.8s;
}
h3 {
  color: #49443b;
}
.splashContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.closed {
  position: absolute;
  width: 30vw;
  height: auto;
  left: 50%;
  margin-left: -15vw;
  top: 50%;
  transition: all 1s ease-in-out;
  margin-top: -15vw;
}
.fadeIn {
  animation: fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:2s;
}
.closed:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
  animation: wingardiumLeviosa 1.7s infinite;
}
.sortingResults {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
  margin: auto;
  margin-top: 25vh;
}
p, a {
  text-align: center;
}
p:hover {
  color: #835e00
}
.answers {
  text-align: center;
  margin: 3vh;
}
.line {
  color: #a27502;
}
.lolz {
  background-color: red;
}
.answers:hover {
  cursor: pointer;
}
/*.theQuiz {
  margin: auto;
  padding: 15%;
  padding-left: 10%:
  padding-right: 10%:
}*/
.ng-scope {
  margin: auto;
}
