<div class='surveyPage' ng-controller='surveyController'>
  <div class='theQuiz' ng-repeat='question in survey'>
      <h3  class='{{question.questionId}}' for="surveyOptions">{{question.question}}</h3>
      <div class='{{question.questionId}}' ng-repeat='answer in question.answers' ng-click='scrollAnswers(question.questionId)'>
        <p class='answers' ng-click='answerSelect(answer)'>{{answer.option}}</p>
      </div>
  </div>
  <button type="button" ng-click="getSorted()">Get Sorted!!!</button>
  <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
</div>
