<div ng-controller='surveyController'>
  <div class='theQuiz' ng-repeat='question in survey'>
    <!-- <form ng-submit='houseSurvey(question)'> -->
      <h4 for="surveyOptions">{{question.question}}</h4>
      <div ng-repeat='answer in question.answers'>
        <p class='answers' ng-click='answerSelect(answer)'>{{answer.option}}</p>
      </div>
      <!-- <select class="surveyOptions" name='surveyOptions'>
        <option value="1" ng-repeat='answer in question.answers' ng-click='whatAnswer(item)'>{{answer.option}}</option> -->
        <!-- <option value="1">{{answer.option2}}</option>
        <option value="1">{{answer.option3}}</option>
        <option value="1">{{answer.option4}}</option> -->
      <!-- </select> -->
      <!-- <button type="submit" name="submit">Submit</button> -->
    <!-- </form> -->
    <hr>
  </div>
  <button type="button" ng-click="getSorted()">Get Sorted!!!</button>
  <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
</div>
