<div class='surveyPage' ng-controller='surveyController'>
  <div class='theQuiz' ng-repeat='question in survey'>
      <h3  class='{{question.questionId}}' for="surveyOptions">{{question.question}}</h3>
      <div class='{{question.questionId}}' ng-repeat='answer in question.answers' ng-click='scrollAnswers(question.questionId)'>
        <p class='answers' ng-click='answerSelect(answer)'>{{answer.option}}</p>
      </div>
  </div>
</div>
<button type="button" ng-click="postSurveyResults(getSorted()); getDomHouse(getSorted())">Get Sorted!!!</button>
<button type="button" ng-click="facebookShareFunc()">Share!!!!!</button>
<div class='sortingResults'>
  
</div>
