<div ng-controller='splashController'>
  <div class='splashContainer fadeIn'>
    <div class='envelopes'>
      <img class='closed' src="../images/letterClosed.png">
      <h2 class='welcomeMessage'>The Wizarding World awaits you...</h2>
      <div class='welcomeLetterDiv fadeIn' ng-show='openEnvelope'>
        <a href="/#/1"><img class='open' src="../images/letterOpen.png"></a>
        <p>Welcome to Hogwarts, {{user}}</p>
        <a href='/#/1'>Now we need to sort you into your house...</a>
      </div>
      <button class='fbButton' ng-click="authenticate('facebook')" ng-show='fbShow'>Sign in with Facebook</button>
    </div>
  </div>
</div>
