  <div class='surveyPage' ng-controller='surveyController'>
  <div class='theQuiz' ng-repeat='question in survey'>
      <h3  class='{{question.questionId}} question' for="surveyOptions">{{question.question}}</h3>
      <hr class='{{question.questionId}}'>
      <div class='{{question.questionId}}' ng-repeat='answer in question.answers' ng-click='scrollAnswers(question.questionId)'>
        <p class='answers' ng-click='answerSelect(answer)'>{{answer.option}}</p>
      </div>
  </div>
  <div ng-show='sortingButton' class='decision' ng-click="postSurveyResults(getSorted()); sortingResultsShow(); getDomHouse(getSorted())">
    <img class='hatImg' src="../images/sortingHat.png">
    <p>The Sorting Hat has decided...</p>
  </div>
  <div class='sortingResults' ng-show='sortingResults'>
    <span>{{results.name}}</span>
    <p>{{results.quote}}</p>
    <p>Traits:</p>
    <p>{{results.traits}}</p>
    <img src="{{results.imageUrl}}" class='houseCrest'>
    <button class='fbButton' type="button" ng-click="facebookShareFunc()">Share on facebook</button>
  </div>

</div>
