<div class='voldemort'>
  <div class='deathEaters'>
    <div class='darkMarkDiv'>
      <a href="/#/"><p class='nox'>Nox</p></a>
      <a target='_blank' href="https://www.pottermore.com/collection/the-dark-mark"><img class='darkMark' src="../images/darkMark.png"></a>
      <p class='patronus'>Expecto Patronum</p>
      <p class='backButton'></p>
    <div class='lightSwitch'>
      <h5 class='lumos'>Lumos</h5>
    </div>
  </div>
  </div>
</div>


<!-- The jQuery javascript framework is used to monitor mouse movement across the page:
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		$("body").mousemove(function(e){
			$("body").css('background-position',(e.pageX - 250)+'px '+(e.pageY - 250)+'px');
		});
	});
</script> -->
